# PBS configuration
# If submitting to a different project to your default uncomment line below 
# and change project code as appropriate
project: v45
queue: express
walltime: 2:30:00
jobname: 025d_noRGM
ncpus: 1824

# Force payu to always find, and save, files in this short (or scratch) project directory
shortpath: /scratch/e14

# Model configuration
name: common
model: access-om2
input: /g/data/ik11/inputs/access-om2/input_20200530/common_025deg_jra55
submodels:
    - name: atmosphere
      model: yatm
      exe: /g/data/ik11/inputs/access-om2/bin/yatm_1bb8904.exe
      input: 
            - /g/data/ik11/inputs/access-om2/input_20200530/yatm_025deg
            - /g/data/ua8/JRA55-do/RYF/v1-3/
      ncpus: 1

    - name: ocean
      model: mom
      exe: /g/data/e14/rmh561/access-om2/bin/fms_ACCESS-OM_5846c21_libaccessom2_1bb8904.x
      input: /g/data/ik11/inputs/access-om2/input_20200530/mom_025deg
      ncpus: 1455

    - name: ice
      model: cice5
      exe: /g/data/ik11/inputs/access-om2/bin/cice_auscom_1440x1080_480p_d3e8bdf_libaccessom2_1bb8904.exe
      input: /g/data/ik11/inputs/access-om2/input_20200530/cice_025deg
      ncpus: 361

# Collation
collate:
  walltime: 3:00:00
  mem: 192GB
  ncpus: 16
  queue: express
  exe: /g/data/ik11/inputs/access-om2/bin/mppnccombine

# Misc
runlog: true
stacksize: unlimited
mpirun: --mca orte_base_help_aggregate 0
qsub_flags: -lother=hyperthread -W umask=027
# set number of cores per node (28 for normalbw, 48 for normal on gadi)
platform:
    nodesize: 48

# DANGER! Do not uncomment this without checking the script is synching 
# to the correct location!
# postscript: sync_output_to_gdata.sh
