# PBS configuration

# If submitting to a different project to your default, uncomment line below 
# and change project code as appropriate; also set shortpath below
# project: v45

# Force payu to always find, and save, files in this scratch project directory
# (you may need to add the corresponding PBS -l storage flag in sync_data.sh)
# shortpath: /scratch/v45

queue: normal
walltime: 5:00:00
jobname: 025deg_era5_ryf

# Model configuration
name: common
model: access-om2
input: /g/data/e14/rmh561/access-om2/input/ERA-5/remap/prod
submodels:
    - name: atmosphere
      model: yatm
      exe: /g/data/ik11/inputs/access-om2/bin/yatm_70e2c46.exe
      input:
            - /g/data/ik11/inputs/access-om2/input_20210915/common_1deg_era5
            - /g/data/e14/rmh561/access-om2/input/ERA-5/RYF/chunked
      ncpus: 1

    - name: ocean
      model: mom
      exe: /g/data/ik11/inputs/access-om2/bin/fms_ACCESS-OM-BGC_9b8ec93_libaccessom2_70e2c46.x
      input: /g/data/ik11/inputs/access-om2/input_20201102/mom_025deg
      ncpus: 1455

    - name: ice
      model: cice5
      exe: /g/data/ik11/inputs/access-om2/bin/cice_auscom_360x300_24p_1a98130_libaccessom2_70e2c46.exe
      input: /g/data/ik11/inputs/access-om2/input_20201102/cice_025deg
      ncpus: 361

# Collation
collate:
  restart: true
  mpi: true
  walltime: 1:00:00
  mem: 16GB
  ncpus: 4
  queue: normal
  exe: /g/data/ik11/inputs/access-om2/bin/mppnccombine-fast

# Misc
runlog: true
stacksize: unlimited
restart_freq: 1  # use tidy_restarts.py instead
mpirun: --mca io ompio --mca io_ompio_num_aggregators 1
qsub_flags: -W umask=027
env:
    UCX_LOG_LEVEL: 'error'
# set number of cores per node (28 for normalbw, 48 for normal on gadi)
platform:
    nodesize: 48
# sweep and resubmit on specific errors - see https://github.com/payu-org/payu/issues/241#issuecomment-610739771
userscripts:
    error: resub.sh
    run: rm -f resubmit.count

# DANGER! Do not uncomment this without checking the script is syncing to the correct location!
# postscript: sync_data.sh
